body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: rgba(243, 229, 217, 0.88);
    line-height: 1.7rem;
}
    
h1{
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

h2,h3,h4{
    color:rosybrown;
    font-size: 2.2rem;
    font-family: 'Amatic SC', cursive;
}

span{
    background-color: rgba(255, 251, 0, 0.55)
}

ol{
    list-style-type: upper-roman
}

.vierkant{
    background-color: rgba(201, 190, 190, 0.82);
    /* ADD PADDING BORDER AND MARGIN */
    border: 5px solid #751515;
    width: 510px;
    padding: top right bottom left;
    padding: 0px 10px 0px 20px;
    margin: top right bottom left;
    margin: 30px 30px 30px 30px;
}